<nav>
    <a href="index.html" class="logo">Alex Firvida</a>
    <ul class="nav-links">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="formacion.html">Formación</a></li>
        <li><a href="quien-soy.html">Quién soy</a></li>
        <li><a href="habilidades.html">Habilidades</a></li>
        <li><a href="proyectos.html">Proyectos</a></li>
        <li><a href="aspiraciones.html">Aspiraciones</a></li>
        <li><a href="contacto.html" class="nav-cta">Contacto</a></li>
    </ul>
</nav>